body {
       margin: 0;
       overflow: hidden;
}

#score {
       background-color: #A52A2B;
       color: #fff;
       border-radius: 15px;
       padding: 10px;
       z-index: 5;
       top: 1vh;
       left: 90vw;
       position: absolute;
}

#gameOver {
       background-color: #A52A2B;
       color: #fff;
       border-radius: 15px;
       padding: 25px;
       z-index: 5;
       position: absolute;
       display: none;
}

.colFlex {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}

.rowFlex {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       align-items: center;
}

.button {
       color: black;
       background-color: #fff;
       border-radius: 15px;
       border: none;
       padding: 10px;
       margin: 5px;
}



/* Login Page */

.spacebackground {
       background-color: black;
       height: 100vh;
       width: 100vw;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
}

.titletext {
       font-family: 'Space Grotesk', sans-serif;
       color: #9FD3EE;
       font-size: 100px;
       margin: 100px;
       text-shadow: 1px 1px 2px #DB504A, 0 0 0.05em #FFEC76, 0 0 0.03em #CCCCCC;
}

.titletext:hover {
       animation: pulse 1s infinite;
       animation-timing-function: linear;
}

@keyframes pulse {
       0% {
              transform: scale(1);
       }

       50% {
              transform: scale(1.05);
       }

       100% {
              transform: scale(1);
       }
}

/* HOMEPAGE SECTION */

.loginbutton {
       width: 160px;
       height: 40px;
       border-radius: 20px;
       background-color: #9FD3EE;
       font-weight: bold;
       margin: 15px;
       padding: 10px;
       box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
       transition: all 0.3s ease 0s;
}

.loginbutton:hover {
       background-color: #000000;
       box-shadow: 0px 15px 25px rgba(159, 211, 238, 0.2);
       color: white;
       transform: translateY(-2px);
}

.inputname {
       color: black;
       text-align: center;
       width: 200px;
       height: 35px;
       border-radius: 20px;
       background-color: #FFEC76;
       font-family: 'Space Grotesk', sans-serif;
       padding: .6em;
}

.nameprompt {
       font-size: 20px;
       color: #DB504A;
       font-family: 'Space Grotesk', sans-serif;
}

.background_image {
       background-image: url("svgs/spacebg.svg")
}

p {
       color: white;
       margin-top: 1px;
}

.top {
       display: flex;
}

.middle {
       width: 100vw;
       height: 60vh;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}

.bottom {
       width: 100vw;
       display: flex;
       align-items: center;
       flex-direction: column;
}

.header {
       color: white;
}

/* BUTTONS */

.top {
       display: flex;
}

.top_buttons {
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
       margin-left: auto;
       margin-right: 0;
}

.home_buttons {
       color: white;
       background-color: brown;
       height: 4vh;
       width: 100px;
       border: none;
       border-radius: 10px;
}

.start_button {
       color: white;
       background-color: brown;
       height: 60px;
       width: 200px;
       border: none;
       border-radius: 10px;
       font-size: 40px;
       margin: .5em;
}

#leaderboard_game {
       background-color: #fff;
       color: black;
}
/* CHARACTER SELECTION */

.spaceman {
       background: none;
       border: none;
       margin: 5px;
}

.hideRadio {
       appearance: none;
}

.select_char{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
}

.select_char label {
       background: rgb(0,0,0);
       /* background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%); */
       background: radial-gradient(circle, rgb(78, 78, 78) 30%, rgba(0,0,0,1) 100%);
       padding: 10px 20px;
       border: 4px solid rgb(0,0,0, 0);
       border-radius: 50%;
   }

   .select_char input[type="radio"]:checked + label {
       /* background-color:#bfb; */
       border-color: #f5f5f5;
   }
/* END OF HOMEPAGE SECTION */

/* LEADERBOARD SECTION */
.leaderboard {
       width: fit-content;
       height: 50vh;
       background-color: #DB504A;
       border-radius: 15px;
       padding: 10px;
       display: flex;
       flex-direction: column;
       align-items: center;
       margin: auto;
       padding: 5px;
}

.leaderboard h1 {
       color: #fff;
       text-align: center;
}

.lbTable tbody {
       color: #fff;
       border-radius: 15px;
       padding: 15px;
       margin: 5px;
}