body{
       margin:0;
       overflow: hidden;
}

#score{
       background-color: #A52A2B;
       color: #fff;
       border-radius: 15px;
       padding: 10px;
       z-index: 5;
       top: 1vh;
       left: 90vw;
       position: absolute;
}

#gameOver{
       background-color: #A52A2B;
       color: #fff;
       border-radius: 15px;
       padding: 25px;
       z-index: 5;
       position: absolute;
       display:none;
}

.colFlex{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}

.rowFlex{
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       align-items: center;
}

.button{
       color: black;
       background-color: #fff;
       border-radius: 15px;
       border: none;
       padding: 10px;
       margin: 5px;
}